* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

canvas {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  touch-action: none;
}